<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.PostgreSQL" version="7.11.1253" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.13" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="sqlSugar" version="4.8.1" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net471" />
</packages>