<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <configSections>
    <section name="DbConfig" type="DnaMes.DnaMesModel.Config.DataConfig, DnaMes.DnaMesModel"/>
  </configSections>
  <DbConfig>
    <add name="MainDb" DBType="SqlServer" Server="127.0.0.1" DBName="DnaMesDb"
         UserID="sa" Password="VBtPhE/E+CbE9d6doKR2T1ZDs0WhjA==" />
  </DbConfig>
</configuration>